html, body{

    /*background-color: rgb(199, 172, 172);*/
    background-image: url(img/multicolored-skateboard-leaning-on-wall-841369.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
    }

html,
body {
    overflow-x: hidden;
}
body {
    padding-top: 56px;
}

body nav{

background-color: rgb(93, 173, 93);

}

.navbar a{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: oblique;
    font-weight: bolder;
    color: lightcyan;

}

.navbar p{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: oblique;
    color: lightcyan;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-right: 20px;

}

.navbar ul li a{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;

}

.navbar ul li a span i{

    margin-left: 10px;

}

.offcanvas-collapse {
    position: fixed;
    top: 56px;
    bottom: 0;
    right: 100%;
    left: -200px;
    width: 200px;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: /*#343a40*//*#f8f9fa*/rgb(93, 173, 93);
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
}

.offcanvas-collapse {
    align-items: start;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border-right: 5px solid rgba(0, 0, 0, 0.2);

}

.offcanvas-collapse.open {
    left: 0;
    visibility: visible;
}

.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

.nav-underline .nav-link:hover {
    color: #007bff;
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

section .card {

    margin-top: 50px;
    margin-bottom: 35px;

}

    .footer {
        position: relative;
        width: 100%;
        min-height: 200px;
        background: rgba(70, 80, 90, 0.800);
        padding: 10px 0;
        z-index: 1;
    }
    
    .footer .credits {
        font-weight: normal;
        position: absolute;
        width: 100%;
        color:white;
        text-align: center;
        font-size: 20px;
        line-height: 1px;
        padding: 0;
    }
    
    .footer .credits p {
        position: absolute;
        text-align: center;
        font-size: 15px;
      
        margin-top: 20px;
        left: 20%;
    }
    .footer-white {
        color:#fff;
        font-weight: normal;
    }
    .slice-footer {
        width: 90px;
        height: 90px;
        margin-top: 45px;
    }

section div h5{

font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
font-size: 25px;
text-align: center;
margin-top: 20px;

} 

section div p{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
  

    
} 

section ul li{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    
    
} 

section div .card-body{

    background-color: rgb(193, 195, 199);

}

section div .card{

    height: 550px;
    margin-top: 20px;
    width: 470px;
}